
<div class="row">
  <div class='col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class='quote'>
          <blockquote>
            <p>It has been taken on faith by many, including your benighted scribe, that the future of book publishing is digital, that the e-book will displace the printed codex as the dominant form of the dominant artifact of modern culture.</p>
            <footer>Nick Carr</footer>
          </blockquote>
          <blockquote class='blockquote-reverse'>
            <p>Maybe books won’t survive the transition to digital devices, any more than scrolls survived the transition to movable type.</p>
            <footer>Clay Shirky</footer>
          </blockquote>
          <blockquote>
            <p>The mainstay of book publishing is the extended narrative, either fictional or factual and almost always shaped by a single authorial consciousness and expressed in a single authorial voice. It is, in other words, a work of art. As you note, attempts to reinvent the narrative of the book in new hypermedia forms have been dismal failures.</p>
            <footer>Nick Carr</footer>
          </blockquote>
          <blockquote class='blockquote-reverse'>
            <p>I do believe is that books, and in particular novels, have their form pretty decisively wrapped up in the affordances and limitations of print, from their length of ~50K-500K words, to the consistent use of prose, to the idea of delivering the whole bolus of text at once. I also don’t think that, given the native grain of the internet, those affordances and limitations are transferrable wholesale.</p>
            <footer>Clay Shirky</footer>
          </blockquote>
        </div>
      </div>
      <div class="panel-footer">
        <img src='http://www.roughtype.com/favicon.ico'>
        <a href='http://www.roughtype.com/?p=2296'>
          Will Gutenberg laugh last?
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class='img-container'>
          <img src='http://www.npr.org/assets/multimedia/2014/01/ND/deskrig.gif' class='img-responsive'>
        </div>
      </div>
      <div class="panel-footer">
        <img src='http://www.npr.org/favicon.ico'>
        <a href='http://www.npr.org/2014/01/29/266757131/welcome-to-oil-country-a-modern-day-gold-rush-in-north-dakota'>Oil Boom: See A Modern-Day Gold Rush In Motion</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class='quote'>
          <blockquote>
            <p>So, there you have it. An article that's clearly not a chapter of "email stuff."</p>
            <p>Me? I'm off to prep for "Daddy-Daughter Night."</p>
            <p>And, tomorrow morning, unlike last Saturday morning and countless other days before it, at the crack of 6:00 am Pacific Time, I will be available in my regular crankless bed to ask my daughter whether she had nice sleeps. And I will tell her and my regular wife that I think they're the Greatest Things in the Universe.</p>
            <footer>Merlin Mann</footer>
          </blockquote>
        </div>
      </div>
      <div class="panel-footer">
        <img src='http://www.43folders.com/favicon.ico'>
        <a href='http://www.43folders.com/2011/04/22/cranking'>
          Cranking
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class='video-container'>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="420" height="315" src="//www.youtube.com/embed/loxJ3FtCJJA?autohide=1&color=white&fs=1&autoplay=0&iv_load_policy=3&rel=0&modestbranding=1&showinfo=0&hd=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <img src='http://www.npr.org/favicon.ico'>
        <a href='https://www.youtube.com/watch?v=loxJ3FtCJJA'>Ira Glass on Storytelling</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class='col-xs-12'>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class='img-container'>
          <img src='https://files.app.net/wmb1wBwWR.png' class='img-responsive'>
        </div>
      </div>
      <div class="panel-footer">
        <img src='http://www.npr.org/favicon.ico'>
        <a href='https://www.goodreads.com/quotes/1173-don-t-cry-because-it-s-over-smile-because-it-happened'>via Good Reads</a>
      </div>
    </div>
  </div>
</div>







